<!DOCTYPE html>
<html lang="fr">

<head>
        <meta charset="UTF-8">
        <title>Formulae Toolkit </title>
        {% include "partials/css.html" %}
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <style type="text/css">
            #banner  {
                background-position: center center;
                padding:10vh;
                background-size: cover, auto;
            }
        </style>
</head>
<body>
{% include "header.html" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" role="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link">Manifest</a>
            </li>
        </ul>
    </div>
</nav>

      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
          </div>
      </div>
</body>
</html>
